# Binary directory
bin/

# Generated Makefiles
src/.d/
test/.d/

# Generated source codes
src/*.pb.cc
src/*.pb.h

# Easyloggingpp log files
logs/

## GitHub defaults ##
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
