[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/cxxopts"]
	path = ext/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "ext/kseq++"]
	path = ext/kseq++
	url = git@github.com:cartoonist/kseqpp.git
[submodule "test/ext/catch2"]
	path = test/ext/catch2
	url = https://github.com/philsquared/Catch.git
[submodule "ext/gum"]
	path = ext/gum
	url = git@github.com:cartoonist/gum.git
